{%load static%}
{%include 'navbar.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'UI/css/globals.css'%}" />
        <link rel="stylesheet" href="{%static 'UI/css/styleguide.css'%}" />
        <link rel="stylesheet" href="{%static 'UI/css/about.css'%}" />
    </head>
    <body>
        <div class="home">
            <div class="name-card">
                <h1>Roger Kim</h1>
                <br>
                <br>
                <p>Github: <a href="https://www.github.com/RogerKimJazzLover" target="_blank">github.com/RogerKimJazzLover</a></p>
                <p>Website: <a href="https://RogerKimJazzLover.github.io" target="_blank">RogerKimJazzLover.github.io</a></p>
                <p>e-mail: minseungkim1017@gmail.com</p>
                <br>
                <p>This website was built soley by me! You can always checkout my <a href="https://www.github.com/RogerKimJazzLover" target="_blank">github profile!</a></p>
                <br>
                <p>The entire journey of creating this website is recorded in my <a href="https://RogerKimJazzLover.github.io" target="_blank">website/blog!</a></p>
            </div>
            <div class="list">
                <h1>Supported Companies</h1>
                <br>
                <br>
                {% for cmpnys in cmpny_list %}
                    <p>{{ cmpnys }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>