{%load static%}
{%include 'navbar.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'UI/css/globals.css'%}" />
        <link rel="stylesheet" href="{%static 'UI/css/styleguide.css'%}" />
        <link rel="stylesheet" href="{%static 'UI/css/cmpny_style.css'%}" />
        
        <!--Google Font, NOT STATIC-->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="home">
            <div class="intro-box">
                <h1 class="title">{{basic_info.cmpnyname}}</h1>
                <div class="info-box">
                    <a class="info-item">Market Cap: {{basic_info.cmpnyname}}</a>
                    <a class="info-item">Stock(Yesterday): {{basic_info.Yesterday}}</a>
                    <a class="info-item">High: {{basic_info.Y_high}}</a>
                    <a class="info-item">Low: {{basic_info.Y_low}}</a>
                    <a class="info-item">Highest-52wks: {{basic_info.F_high}}</a>
                    <a class="info-item">Lowest-52wks: {{basic_info.F_low}}</a>
                </div>
            </div>
            <div class="intro-box">
                <h1 class="title">{{cmpnyname}} 재무제표 요약표</h1>
                <div class="info-box">
                    <a class="info-item">Market Cap: {{cmpnyname}}</a>
                    <a class="info-item">Stock(Yesterday): {{cmpnyname}}</a>
                    <a class="info-item">High: {{cmpnyname}}</a>
                    <a class="info-item">Low: {{cmpnyname}}</a>
                    <a class="info-item">Highest-52wks: {{cmpnyname}}</a>
                    <a class="info-item">Lowest-52wks: {{cmpnyname}}</a>
                </div>
            </div>
            <div class="intro-box">
                <h1 class="title">Graphs Here</h1>
                <div class="info-box">
                    <a class="info-item">Market Cap: {{cmpnyname}}</a>
                    <a class="info-item">Stock(Yesterday): {{cmpnyname}}</a>
                    <a class="info-item">High: {{cmpnyname}}</a>
                    <a class="info-item">Low: {{cmpnyname}}</a>
                    <a class="info-item">Highest-52wks: {{cmpnyname}}</a>
                    <a class="info-item">Lowest-52wks: {{cmpnyname}}</a>
                </div>
            </div>
        </div>
    </body>
</html>