{%load static%}
{%include 'navbar.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'UI/css/globals.css'%}" />
        <link rel="stylesheet" href="{%static 'UI/css/styleguide.css'%}" />
        <link rel="stylesheet" href="{%static 'UI/css/cmpny_style.css'%}" />
    </head>
    <body>
        <div class="home">
            <div class="intro-box">
                <h1 class="title">{{cmpnyname}}</h1>
                <div class="info-box">
                    <a class="info-item">Market Cap: {{cmpnyname}}</a>
                    <a class="info-item">Stock(Yesterday): {{cmpnyname}}</a>
                    <a class="info-item">High: {{cmpnyname}}</a>
                    <a class="info-item">Low: {{cmpnyname}}</a>
                    <a class="info-item">Highest-52wks: {{cmpnyname}}</a>
                    <a class="info-item">Lowest-52wks: {{cmpnyname}}</a>
                </div>
            </div>
    </body>
</html>