{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{%static 'UI/css/globals.css'%}" />
    <link rel="stylesheet" href="{%static 'UI/css/styleguide.css'%}" />
    <link rel="stylesheet" href="{%static 'UI/css/style.css'%}" />
  </head>
  <body>
    <div class="home">
      <div class="div">
        <div class="frame">
          <div class="search-header">
            <img class="img" src="img/search.svg" />
            <div class="text-wrapper">Search re</div>
            <img class="img" src="img/x-circle.svg" />
            <div class="search-blinker"><img class="line" src="img/line-3.svg" /></div>
          </div>
        </div>
        <div class="overlap-group">
          <div class="nav-nav-header">
            <div class="navbar-wrapper">
              <div class="navbar">
                <div class="div-wrapper"><div class="text-wrapper-2">Home</div></div>
                <div class="div-wrapper"><div class="text-wrapper-2">Sign-in</div></div>
                <div class="div-wrapper"><div class="text-wrapper-2">About</div></div>
              </div>
            </div>
          </div>
          <div class="frame-2"><div class="text-wrapper-3">cmpnyinfo</div></div>
        </div>
        <p class="this-website-is">
          <span class="span">This website is provides a </span>
          <span class="text-wrapper-4">comprehensive overview</span>
          <span class="span"> of </span>
          <span class="text-wrapper-4">financial statements</span>
          <span class="span"> in a user-friendly format. <br /></span>
          <span class="span"><br /></span>
          <span class="span"><br /></span>
          <span class="span"><br /></span>
          <span class="span"></span>
        </p>
        <div class="text-wrapper-5">Welcome to cmpnyinfo!</div>
        <div class="text-wrapper-6">Why cmpnyinfo?</div>
        <p class="p">Sign up to access its full potential!</p>
        <p class="it-offers">
          <span class="text-wrapper-7">It offers</span>
          <span class="text-wrapper-8"> <br /></span>
          <span class="text-wrapper-8"><br /></span>
          <span class="text-wrapper-8"></span>
        </p>
        <div class="flexcontainer">
          <p class="text">
            <span class="span">easy-to-understand graphs<br /></span>
          </p>
          <p class="text"><span class="span">insightful analytical data</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="text">
            <span class="span">Simple to read, simple to understand<br /></span>
          </p>
          <p class="text">
            <span class="span">Less is more. Essential information only<br /></span>
          </p>
          <p class="text">
            <span class="span">Lightweight. No need for pop-ups<br /></span>
          </p>
          <p class="text">
            <span class="span">User-friendly.<br /></span>
          </p>
          <p class="text">
            <span class="span">Accessible<br /></span>
          </p>
          <p class="text">
            <span class="span">Mobile-friendly<br /></span>
          </p>
          <p class="text">
            <span class="span">Cool<br /></span>
          </p>
          <p class="text"><span class="span">many more...</span></p>
        </div>
        <div class="flexcontainer-3">
          <p class="text">
            <span class="span">Well first of all, if you are asking for the reason why the website<br /></span>
          </p>
          <p class="text">
            <span class="span">is named “cmpnyinfo,” the answer is that it stands for “company<br /></span>
          </p>
          <p class="text">
            <span class="span">information.”<br /></span>
          </p>
          <p class="text">
            <span class="span"><br /></span>
          </p>
          <p class="text">
            <span class="span">If you were asking for why you should use cmpnyinfo, then the<br /></span>
          </p>
          <p class="text"><span class="span">answers would be because cmpnyinfo is</span></p>
        </div>
        <img class="line-2" src="img/line-4.svg" />
        <img class="line-3" src="img/line-5.svg" />
        <img class="line-4" src="img/line-6.svg" />
        <div class="e-mail-field"><div class="text-wrapper-11">Enter e-mail here...</div></div>
        <button class="sign-up-button"><div class="text-wrapper-10">SIGN UP</div></button>
        <p class="text-wrapper-9">
          Currently, the website provides information for 100 companies listed in the KOSPI (Korean Stock Price Index).
        </p>
      </div>
    </div>
  </body>
</html>
