.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .home .intro-box {
    background-color: white;
    position: relative;
    top: 52px;
    width: 100%;
    height: 25%;
    margin: 10px;
    border: 1px solid grey;
  }

  .home .title {
    position: relative;
    top: 15px;
    left: 10px;
    font-family: "Roboto-ThinItalic", Helvetica;
    font-size: 18px;
    color: black;
  }

  .home .info-box {
    position: relative;
    top: 25px;
    margin-left: 10px;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .home .info-item {
    font-family: "Roboto-ThinItalic", Helvetica;
    font-size: 12px;
    color: black;
    align-self: center;
  }