.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .home .main-body-wrapper {
    width: 100%;
    max-width: 768px;
    position: relative;
    top: 100px;
  }
  
  @media screen and (min-width: 433px) {
    .home .main-body-wrapper {
      width: 100%;
      max-width: 768px;
      position: relative;
      top: 125px;
    }
  }

  .home .search-bar-div {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 768px;
  }

  .home .main-body-wrapper .welcome {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
  }

  .home .main-body-wrapper .welcome .content {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .home .main-body-wrapper .welcome .content .paragraph {
    margin-left: 10px;
    margin-top: 20px;
  }

  .home .line-2 {
    width: 1px;
    height: 54px;
    margin-left: 10px;
    position: relative;
    object-fit: cover;
  }

  .home .line-3 {
    width: 1px;
    height: 54px;
    margin-left: 10px;
    position: relative;
    object-fit: cover;
  }

  .home .line-4 {
    width: 2px;
    height: 250px;
    margin-left: 10px;
    position: relative;
    object-fit: cover;
  }

  .home .div {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 768px;
  }

  .home .main-page {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home .text-wrapper {
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .line {
    width: 1px;
    height: 12px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .home .overlap-group {
    position: absolute;
    width: 393px;
    height: 50px;
    top: 0;
    left: 0;
  }
  
  .home .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 3px;
    left: 0;
  }
  
  .home .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .this-website-is {
    position: absolute;
    width: 330px;
    top: 150px;
    left: 48px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .span {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
  }
  
  .home .text-wrapper-4 {
    font-family: "Roboto-Italic", Helvetica;
    font-style: italic;
  }
  
  .home .text-wrapper-5 {
    position: absolute;
    top: 117px;
    left: 22px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .text-wrapper-6 {
    position: absolute;
    top: 290px;
    left: 18px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .p {
    position: absolute;
    top: 618px;
    left: 22px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .it-offers {
    position: absolute;
    width: 358px;
    top: 198px;
    left: 22px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home .text-wrapper-7 {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
  }
  
  .home .text-wrapper-8 {
    font-size: 12px;
  }  